<ion-header [translucent]="true" color="primary">
  <ion-toolbar color="primary" style="max-height: 200px">
    
 
    <ion-title id="logo" style="text-align:center">
      <a href="http://localhost:8100">
        <img alt="logo" src="../../assets/icon/logo.png" height="40" id="logo">
      </a>
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button contentId="main"></ion-menu-button>
    </ion-buttons>

    <ion-button slot="end">Admin</ion-button>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true" color="primary">
  <div id="container">

    <ion-row>
      <ion-col>
        <img src="../../assets/icon/bloque.png" alt="bloque" class="imagen">
      </ion-col>
      <ion-col>
        <img src="../../assets/icon/logo.png" alt="logo" class="imagen">
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>
        <ion-card>
          <a href="http://localhost:8100/patinetes" class="card">
            <img src="../../assets/icon/logoPatinete.png" alt="logoPatinete" class="imagenCard">
          </a>
          <div class="card-title">Alquiler de patinetes</div>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <a href="http://localhost:8100/ticket-bus" class="card">
            <img src="../../assets/icon/autobus.png" alt="logoPatinete" class="imagenCard">
          </a>
          <div class="card-title">Ticket-Bus</div>
        </ion-card>
      </ion-col>

    </ion-row>
    
    
      
    
    
  </div>
</ion-content>
