<ion-header [translucent]="true">
  <ion-toolbar color="primary" style="max-height: 200px">
    
 
    <ion-title id="logo" style="text-align:center">
      <img alt="logo" src="../../assets/icon/logo.png" height="40" id="logo">
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button contentId="main"></ion-menu-button>
    </ion-buttons>

    
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    {{account}}
    <ion-button color="secondary" href="http://localhost:8100/comprarMoneda">Comprar moneda</ion-button>
    <ion-button color="secondary" href="http://localhost:8100/patinetes">Patinetes disponibles</ion-button>
  </div>
</ion-content>
