<ion-header>
  <ion-toolbar color="primary" style="max-height: 200px">
    <ion-title id="logo" style="text-align:center">
      <img alt="logo" src="../../assets/icon/logo.png" height="40" id="logo" [routerLink]="['/']">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  color="primary" id="mainContainer">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="title"><i>Comprar moneda</i></ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-item class="block">
        <img src="../../assets/icon/bloque.png" alt="Bloque">
      </ion-item>


      <ion-item class="items">
        <ion-label>Precio Vic: {{precio}}</ion-label>
      </ion-item>


      <ion-item class="items">
        <ion-label>$VICs: {{dineroCliente}}</ion-label>
      </ion-item>
      

      <div class="input1">
      <ion-item class="input1"> 
        <div class="input1">
          <input #precioSeleccionado type="number" placeholder="Seleccione cantidad">
        </div>
      </ion-item>
    </div>
      <div class="button1">
        <ion-button (click)="comprarMoneda(precioSeleccionado.value)">Comprar</ion-button>
      </div>
    
    </ion-card-content>

  </ion-card>
  
</ion-content>
