<ion-header [translucent]="true" color="primary">
  <ion-toolbar color="primary" style="max-height: 200px">
    <ion-title id="logo" style="text-align:center">
        <img alt="logo" src="../../assets/icon/logo.png" height="40" id="logo" [routerLink]="['/']">
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button contentId="main"></ion-menu-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" color="primary" id="mainContainer">


  <ion-card>
    <ion-card-header>
      <ion-card-title class="title">Administrador</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <br>

      <div class="items">
        <div>Dinero a recaudar: {{peticion}} Vics</div>
      </div>
        
      <div class="button1">
        <ion-item class="input1"> 
          <div class="input1">
            <ion-button (click)="fund()">Fund</ion-button>
          </div>
          
        </ion-item>
      </div>
    
      <br>
      <br>

      <div class="button1">
        <input #precioSeleccionado type="number" placeholder="Seleccione cantidad">
      </div>
      
        <div class="input1">
          <ion-item>
            <div class="input1">
              <ion-button (click)="supply(precioSeleccionado.value)">More supply</ion-button>
            </div>
          </ion-item>
        </div>
    </ion-card-content>
  </ion-card>
</ion-content>