<ion-header [translucent]="true" color="primary">
  <ion-toolbar color="primary" style="max-height: 200px">
    <ion-title id="logo" style="text-align:center">
        <img alt="logo" src="../../assets/icon/logo.png" height="40" id="logo" [routerLink]="['/']">
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button contentId="main"></ion-menu-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" color="primary" id="mainContainer">


  <ion-card>
    <ion-card-header>
      <ion-card-title>Administrador</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div>
        <ion-item>
          <ion-button (click)="fund()">Fund</ion-button>
        </ion-item>
        <ion-item>
          <ion-button (click)="supply()">More supply</ion-button>
        </ion-item>
      </div> 
    </ion-card-content>
  </ion-card>
</ion-content>