<ion-header>
  <ion-toolbar color="primary" style="max-height: 200px">
    <ion-title id="logo" style="text-align:center">
     
      <img alt="logo" src="../../assets/icon/logo.png" height="40" id="logo" [routerLink]="['/']">
 
  </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button contentId="main"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>


  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
</ion-header>






<ion-content id="mainContainer" color="primary">
  <ion-card class="transparent-card">
 
    <ion-card-header>
      <ion-card-title class="title">Patinete {{id}}</ion-card-title>
    </ion-card-header>
    
   
   
    <ion-card-content>
      <ion-item>
        <div id="mapDiv">
          <div #map2 id="map2" style="height:400px;"></div>
        </div>
      </ion-item>
      <div id="select">

     
        <ion-item>      
          <ion-select placeholder="Selecciona la tarifa" [(ngModel)]="tarifa">
            <ion-select-option value="1">1 hora = 18ViCs</ion-select-option>
            <ion-select-option value="2">45 minutos = 15VICs</ion-select-option>
            <ion-select-option value="3">30 minutos = 10VICs</ion-select-option>
            <ion-select-option value="4">15 minutos = 5 VICs</ion-select-option>
            <ion-select-option value="5">3 minutos = 1ViCs</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <div id="button1">
        <ion-button (click)="rent()" id="rentButton">Alquilar</ion-button>
      </div>
    </ion-card-content>

   
    
  </ion-card>
</ion-content>


