
.round-button {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;

    margin-top: 40px;
    width:70%;
    top: 20%;
    left: 50%;
    //margin-right: -50%;
    //transform: translate(-50%, -50%)
}
.round-button-circle {
    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
    border:10px solid #cfdcec;
    overflow:hidden;    
    background:#2c4963;
    box-shadow: 0 0 3px gray;
}
.round-button-circle:hover {
    background:#203649;
}
.round-button a {
    display:block;
    float:left;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;
            
    text-align:center;
    color:#e2eaf3;
    font-family: Arial;
    font-size:2.2em;
    font-weight:bold;
    text-decoration:none;
}

canvas{  
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
