<ion-header>
  <ion-toolbar color="primary" style="max-height: 200px">
    
 
    <ion-title id="logo" style="text-align:center">
     
      <img alt="logo" src="../../assets/icon/logo.png" height="40" id="logo" [routerLink]="['/']">
 
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button contentId="main"></ion-menu-button>
    </ion-buttons>

    
  </ion-toolbar>
  
</ion-header>


<ion-content>

  <ion-item>      
    <ion-select placeholder="Selecciona el servicio" [(ngModel)]="tarifa">
      <ion-select-option value="1">Vitrasa</ion-select-option>
      <ion-select-option value="2">Cinesa</ion-select-option>
      <ion-select-option value="3">Taxi</ion-select-option>
    </ion-select>
  </ion-item>



  <div class="center-button" (click)="payment()" >
    <div class="round-button" >
        <div class="round-button-circle" >
            <a class="round-button">PAGO</a>
        </div>
    </div>
  </div>
  <div>
    <canvas id="qrcode"></canvas>
  </div>
  
</ion-content>